In [13]:
import numpy as np
import pandas as pd
data = pd.read_csv('mercedesbenz.csv',usecols=['X1','X2'])
data

     X1  X2
0     v  at
1     t  av
2     w   n
3     t   n
4     v   n
...  ..  ..
4204  s  as
4205  o   t
4206  v   r
4207  r   e
4208  r  ae

[4209 rows x 2 columns]

In [14]:
data.shape

(4209, 2)

In [15]:
for col in data.columns:
    print(col, ':', len(data[col].unique()), ' labels')

X1 : 27  labels
X2 : 44  labels

In [16]:
data_freq = data.X2.value_counts().to_dict()
data_freq

{'as': 1659,
 'ae': 496,
 'ai': 415,
 'm': 367,
 'ak': 265,
 'r': 153,
 'n': 137,
 's': 94,
 'f': 87,
 'e': 81,
 'aq': 63,
 'ay': 54,
 'a': 47,
 't': 29,
 'i': 25,
 'k': 25,
 'b': 21,
 'ao': 20,
 'ag': 19,
 'z': 19,
 'd': 18,
 'ac': 13,
 'g': 12,
 'ap': 11,
 'y': 11,
 'x': 10,
 'aw': 8,
 'at': 6,
 'h': 6,
 'al': 5,
 'q': 5,
 'an': 5,
 'ah': 4,
 'p': 4,
 'av': 4,
 'au': 3,
 'c': 1,
 'j': 1,
 'af': 1,
 'ar': 1,
 'o': 1,
 'l': 1,
 'aa': 1,
 'am': 1}

In [17]:
data.X2 = data.X2.map(data_freq)
data.head()

  X1   X2
0  v    6
1  t    4
2  w  137
3  t  137
4  v  137