In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import sklearn
from sklearn import model_selection, tree, metrics
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split, GridSearchCV, KFold, cross_val_score
from sklearn.metrics import accuracy_score, roc_auc_score, classification_report, confusion_matrix
from xgboost.sklearn import XGBClassifier
from sklearn.tree import DecisionTreeRegressor, DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, StackingClassifier, AdaBoostClassifier, RandomForestRegressor
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import LabelEncoder
from lightgbm import LGBMClassifier, LGBMRegressor
import warnings
warnings.filterwarnings("ignore")

data = pd.read_csv(r"C:\Users\panda4\Documents\Data Science\Online\train_8wry4cB.csv")
data

,session_id,startTime,endTime,ProductList,gender
0,u16159,15/12/14 18:11,15/12/14 18:12,A00002/B00003/C00006/D28435/;A00002/B00003/C00...,female
1,u10253,16/12/14 14:35,16/12/14 14:41,A00001/B00009/C00031/D29404/;A00001/B00009/C00...,male
2,u19037,01/12/14 15:58,01/12/14 15:58,A00002/B00001/C00020/D16944/,female
3,u14556,23/11/14 2:57,23/11/14 3:00,A00002/B00004/C00018/D10284/;A00002/B00004/C00...,female
4,u24295,17/12/14 16:44,17/12/14 16:46,A00001/B00001/C00012/D30805/;A00001/B00001/C00...,male
5,u20964,12/12/14 15:31,12/12/14 15:31,A00002/B00002/C00081/D25039/,female
6,u20981,05/12/14 19:33,05/12/14 19:34,A00002/B00011/C00180/D18487/;A00002/B00011/C00...,female
7,u15947,09/12/14 16:02,09/12/14 16:06,A00002/B00001/C00059/D15254/;A00002/B00001/C00...,male
8,u18193,25/11/14 11:55,25/11/14 11:55,A00002/B00001/C00010/D06129/,male
9,u21820,06/12/14 16:16,06/12/14 16:17,A00002/B00001/C00010/D12841/;A00002/B00002/C00...,female
10,u13480,15/11/14 12:32,15/11/14 12:32,A00002/B00007/C00024/D02625/,female
11,u14242,08/12/14 22:42,08/12/14 22:42,A00002/B00002/C00002/D22971/,female
12,u11583,22/12/14 13:12,22/12/14 13:22,A00002/B00001/C00150/D35471/;A00002/B00001/C00...,female
13,u13018,17/11/14 20:53,17/11/14 20:53,A00001/B00031/C00044/D01652/;A00001/B00031/C00...,male
14,u22050,07/12/14 23:28,07/12/14 23:28,A00002/B00002/C00002/D21686/;A00002/B00002/C00...,female
15,u16340,19/11/14 15:23,19/11/14 15:30,A00003/B00012/C00051/D07771/;A00003/B00012/C00...,female
16,u17502,29/11/14 15:23,29/11/14 15:23,A00002/B00007/C00024/D03342/,female
17,u10649,25/11/14 14:31,25/11/14 14:32,A00003/B00022/C00048/D11574/;A00003/B00022/C00...,female
18,u24301,17/12/14 16:47,17/12/14 16:47,A00002/B00001/C00075/D30808/,female
19,u17680,25/11/14 20:39,25/11/14 20:40,A00002/B00004/C00129/D10706/;A00002/B00004/C00...,female
20,u13716,08/12/14 13:33,08/12/14 13:33,A00004/B00013/C00083/D22322/,male
21,u13756,20/12/14 19:58,20/12/14 19:59,A00003/B00022/C00036/D27803/,female
22,u22367,20/12/14 21:15,20/12/14 21:16,A00002/B00003/C00006/D30329/;A00002/B00003/C00...,male
23,u18730,14/12/14 16:15,14/12/14 16:15,A00002/B00001/C00059/D03308/,female
24,u10829,19/12/14 12:38,19/12/14 12:39,A00002/B00003/C00079/D28653/,female
25,u19908,12/12/14 20:17,12/12/14 20:19,A00002/B00010/C00095/D25319/;A00002/B00010/C00...,female
26,u19899,29/11/14 21:57,29/11/14 21:57,A00001/B00031/C00091/D16015/,male
27,u23233,18/12/14 15:56,18/12/14 15:56,A00002/B00003/C00046/D31170/,female
28,u17193,22/11/14 11:27,22/11/14 11:27,A00001/B00015/C00284/D09455/,female
29,u11953,01/12/14 16:15,01/12/14 16:15,A00001/B00009/C00038/D00645/,male
...,...,...,...,...,...
10470,u14314,09/12/14 19:19,09/12/14 19:19,A00001/B00015/C00043/D16057/,male
10471,u11673,07/12/14 17:54,07/12/14 17:58,A00003/B00012/C00051/D17990/;A00003/B00012/C00...,female
10472,u20380,20/12/14 13:33,20/12/14 13:33,A00002/B00001/C00010/D25587/,female
10473,u14952,21/12/14 22:02,21/12/14 22:02,A00002/B00004/C00018/D35004/,female
10474,u22280,08/12/14 9:06,08/12/14 9:06,A00001/B00001/C00020/D21809/;A00001/B00001/C00...,male
10475,u18000,17/12/14 14:45,17/12/14 14:45,A00002/B00004/C00018/D30598/,female
10476,u21734,14/12/14 16:23,14/12/14 16:24,A00002/B00003/C00005/D27219/;A00002/B00001/C00...,female
10477,u22090,13/12/14 14:54,13/12/14 14:56,A00003/B00012/C00051/D00207/;A00003/B00012/C00...,female
10478,u11526,25/11/14 12:24,25/11/14 12:25,A00003/B00021/C00055/D07787/;A00003/B00021/C00...,female
10479,u15704,19/11/14 18:33,19/11/14 18:34,A00001/B00004/C00066/D07949/;A00002/B00004/C00...,male
10480,u24287,17/12/14 16:08,17/12/14 16:13,A00002/B00003/C00037/D18269/;A00002/B00003/C00...,female
10481,u13788,15/11/14 10:49,15/11/14 10:49,A00002/B00003/C00046/D02480/,female
10482,u13481,17/11/14 9:43,17/11/14 9:47,A00002/B00007/C00017/D04614/;A00002/B00007/C00...,female
10483,u20875,19/12/14 11:48,19/12/14 11:49,A00002/B00003/C00005/D27885/,female
10484,u21056,12/12/14 13:06,12/12/14 13:08,A00002/B00001/C00150/D23746/;A00005/B00018/C00...,female
10485,u10911,06/12/14 15:14,06/12/14 15:14,A00002/B00002/C00007/D00266/,female
10486,u12071,25/11/14 22:41,25/11/14 22:41,A00002/B00002/C00007/D03133/,female
10487,u24317,17/12/14 18:54,17/12/14 18:54,A00002/B00007/C00016/D30900/,female
10488,u23587,15/12/14 21:10,15/12/14 21:10,A00005/B00032/C00094/D28677/,female
10489,u13193,21/12/14 17:20,21/12/14 17:20,A00003/B00035/C00106/D34823/,female
10490,u10750,14/11/14 9:05,14/11/14 9:05,A00003/B00012/C00048/D00230/,female
10491,u14994,16/11/14 22:49,16/11/14 22:49,A00002/B00001/C00053/D01058/;A00002/B00001/C00...,female
10492,u14907,27/11/14 22:46,27/11/14 22:46,A00002/B00002/C00002/D09800/,female
10493,u24416,18/12/14 11:13,18/12/14 11:13,A00002/B00006/C00015/D31395/,female
10494,u24315,17/12/14 18:21,17/12/14 18:21,A00001/B00001/C00075/D30306/,male
10495,u15442,18/11/14 7:39,18/11/14 7:42,A00002/B00002/C00007/D06407/;A00002/B00002/C00...,female
10496,u17986,25/11/14 15:16,25/11/14 15:16,A00006/B00030/C00334/D11660/,female
10497,u22508,09/12/14 10:11,09/12/14 10:11,A00002/B00002/C00007/D18028/,female
10498,u17087,22/11/14 11:27,22/11/14 11:27,A00003/B00012/C00131/D09453/;A00003/B00012/C00...,female
10499,u23137,19/12/14 3:11,19/12/14 3:19,A00002/B00001/C00010/D02309/;A00002/B00002/C00...,female

In [2]:
train_data = \
(data.set_index(data.columns.drop('ProductList',1).tolist())
   .ProductList.str.split('/', expand=True)
   .stack()
   .reset_index()
   .rename(columns={0:'ProductList'})
   .loc[:, data.columns]
)
train_data['ProductList'] = train_data['ProductList'].str.replace(';','')
train_data.drop_duplicates(inplace=True)
train_data['ProductList'].replace('', np.nan, inplace=True)
train_data.dropna(inplace=True)
train_data.reset_index(drop=True)

      session_id       startTime         endTime ProductList  gender
0         u16159  15/12/14 18:11  15/12/14 18:12      A00002  female
1         u16159  15/12/14 18:11  15/12/14 18:12      B00003  female
2         u16159  15/12/14 18:11  15/12/14 18:12      C00006  female
3         u16159  15/12/14 18:11  15/12/14 18:12      D28435  female
4         u16159  15/12/14 18:11  15/12/14 18:12      D02554  female
5         u16159  15/12/14 18:11  15/12/14 18:12      D28436  female
6         u16159  15/12/14 18:11  15/12/14 18:12      D28437  female
7         u10253  16/12/14 14:35  16/12/14 14:41      A00001    male
8         u10253  16/12/14 14:35  16/12/14 14:41      B00009    male
9         u10253  16/12/14 14:35  16/12/14 14:41      C00031    male
10        u10253  16/12/14 14:35  16/12/14 14:41      D29404    male
11        u10253  16/12/14 14:35  16/12/14 14:41      D02617    male
12        u10253  16/12/14 14:35  16/12/14 14:41      D29407    male
13        u10253  16/12/14 14:35  16/12/14 14:41      D29410    male
14        u10253  16/12/14 14:35  16/12/14 14:41      D29411    male
15        u10253  16/12/14 14:35  16/12/14 14:41      D25444    male
16        u10253  16/12/14 14:35  16/12/14 14:41      D29418    male
17        u19037  01/12/14 15:58  01/12/14 15:58      A00002  female
18        u19037  01/12/14 15:58  01/12/14 15:58      B00001  female
19        u19037  01/12/14 15:58  01/12/14 15:58      C00020  female
20        u19037  01/12/14 15:58  01/12/14 15:58      D16944  female
21        u14556   23/11/14 2:57   23/11/14 3:00      A00002  female
22        u14556   23/11/14 2:57   23/11/14 3:00      B00004  female
23        u14556   23/11/14 2:57   23/11/14 3:00      C00018  female
24        u14556   23/11/14 2:57   23/11/14 3:00      D10284  female
25        u14556   23/11/14 2:57   23/11/14 3:00      D10285  female
26        u14556   23/11/14 2:57   23/11/14 3:00      D10286  female
27        u24295  17/12/14 16:44  17/12/14 16:46      A00001    male
28        u24295  17/12/14 16:44  17/12/14 16:46      B00001    male
29        u24295  17/12/14 16:44  17/12/14 16:46      C00012    male
...          ...             ...             ...         ...     ...
60375     u15442   18/11/14 7:39   18/11/14 7:42      C00007  female
60376     u15442   18/11/14 7:39   18/11/14 7:42      D06407  female
60377     u15442   18/11/14 7:39   18/11/14 7:42      D06409  female
60378     u17986  25/11/14 15:16  25/11/14 15:16      A00006  female
60379     u17986  25/11/14 15:16  25/11/14 15:16      B00030  female
60380     u17986  25/11/14 15:16  25/11/14 15:16      C00334  female
60381     u17986  25/11/14 15:16  25/11/14 15:16      D11660  female
60382     u22508  09/12/14 10:11  09/12/14 10:11      A00002  female
60383     u22508  09/12/14 10:11  09/12/14 10:11      B00002  female
60384     u22508  09/12/14 10:11  09/12/14 10:11      C00007  female
60385     u22508  09/12/14 10:11  09/12/14 10:11      D18028  female
60386     u17087  22/11/14 11:27  22/11/14 11:27      A00003  female
60387     u17087  22/11/14 11:27  22/11/14 11:27      B00012  female
60388     u17087  22/11/14 11:27  22/11/14 11:27      C00131  female
60389     u17087  22/11/14 11:27  22/11/14 11:27      D09453  female
60390     u17087  22/11/14 11:27  22/11/14 11:27      C00073  female
60391     u17087  22/11/14 11:27  22/11/14 11:27      D09454  female
60392     u23137   19/12/14 3:11   19/12/14 3:19      A00002  female
60393     u23137   19/12/14 3:11   19/12/14 3:19      B00001  female
60394     u23137   19/12/14 3:11   19/12/14 3:19      C00010  female
60395     u23137   19/12/14 3:11   19/12/14 3:19      D02309  female
60396     u23137   19/12/14 3:11   19/12/14 3:19      B00002  female
60397     u23137   19/12/14 3:11   19/12/14 3:19      C00002  female
60398     u23137   19/12/14 3:11   19/12/14 3:19      D32450  female
60399     u23137   19/12/14 3:11   19/12/14 3:19      C00059  female
60400     u23137   19/12/14 3:11   19/12/14 3:19      D21254  female
60401     u23137   19/12/14 3:11   19/12/14 3:19      A00003  female
60402     u23137   19/12/14 3:11   19/12/14 3:19      B00004  female
60403     u23137   19/12/14 3:11   19/12/14 3:19      C00089  female
60404     u23137   19/12/14 3:11   19/12/14 3:19      D18619  female

[60405 rows x 5 columns]

In [3]:
train_data['startTime'] = pd.to_datetime(train_data['startTime'])
train_data['endTime'] = pd.to_datetime(train_data['endTime'])
train_data['startTime_day'] = train_data['startTime'].dt.day
train_data['startTime_month'] = train_data['startTime'].dt.month
train_data['startTime_year'] = train_data['startTime'].dt.year
train_data['startTime_hour'] = train_data['startTime'].dt.hour
train_data['startTime_minute'] = train_data['startTime'].dt.minute
train_data['endTime_day'] = train_data['endTime'].dt.day
train_data['endTime_month'] = train_data['endTime'].dt.month
train_data['endTime_year'] = train_data['endTime'].dt.year
train_data['endTime_hour'] = train_data['endTime'].dt.hour
train_data['endTime_minute'] = train_data['endTime'].dt.minute
train_data['session_id'] = train_data['session_id'].str.replace('u','')
train_data['ProductList'] = train_data['ProductList'].str[1:]
train_data.reset_index(drop=True, inplace=True)

In [4]:
X = train_data.drop(['startTime', 'endTime', 'gender'], axis=1)
X

,session_id,ProductList,startTime_day,startTime_month,startTime_year,startTime_hour,startTime_minute,endTime_day,endTime_month,endTime_year,endTime_hour,endTime_minute
0,16159,00002,15,12,2014,18,11,15,12,2014,18,12
1,16159,00003,15,12,2014,18,11,15,12,2014,18,12
2,16159,00006,15,12,2014,18,11,15,12,2014,18,12
3,16159,28435,15,12,2014,18,11,15,12,2014,18,12
4,16159,02554,15,12,2014,18,11,15,12,2014,18,12
5,16159,28436,15,12,2014,18,11,15,12,2014,18,12
6,16159,28437,15,12,2014,18,11,15,12,2014,18,12
7,10253,00001,16,12,2014,14,35,16,12,2014,14,41
8,10253,00009,16,12,2014,14,35,16,12,2014,14,41
9,10253,00031,16,12,2014,14,35,16,12,2014,14,41
10,10253,29404,16,12,2014,14,35,16,12,2014,14,41
11,10253,02617,16,12,2014,14,35,16,12,2014,14,41
12,10253,29407,16,12,2014,14,35,16,12,2014,14,41
13,10253,29410,16,12,2014,14,35,16,12,2014,14,41
14,10253,29411,16,12,2014,14,35,16,12,2014,14,41
15,10253,25444,16,12,2014,14,35,16,12,2014,14,41
16,10253,29418,16,12,2014,14,35,16,12,2014,14,41
17,19037,00002,12,1,2014,15,58,12,1,2014,15,58
18,19037,00001,12,1,2014,15,58,12,1,2014,15,58
19,19037,00020,12,1,2014,15,58,12,1,2014,15,58
20,19037,16944,12,1,2014,15,58,12,1,2014,15,58
21,14556,00002,23,11,2014,2,57,23,11,2014,3,0
22,14556,00004,23,11,2014,2,57,23,11,2014,3,0
23,14556,00018,23,11,2014,2,57,23,11,2014,3,0
24,14556,10284,23,11,2014,2,57,23,11,2014,3,0
25,14556,10285,23,11,2014,2,57,23,11,2014,3,0
26,14556,10286,23,11,2014,2,57,23,11,2014,3,0
27,24295,00001,17,12,2014,16,44,17,12,2014,16,46
28,24295,00001,17,12,2014,16,44,17,12,2014,16,46
29,24295,00012,17,12,2014,16,44,17,12,2014,16,46
...,...,...,...,...,...,...,...,...,...,...,...,...
60375,15442,00007,18,11,2014,7,39,18,11,2014,7,42
60376,15442,06407,18,11,2014,7,39,18,11,2014,7,42
60377,15442,06409,18,11,2014,7,39,18,11,2014,7,42
60378,17986,00006,25,11,2014,15,16,25,11,2014,15,16
60379,17986,00030,25,11,2014,15,16,25,11,2014,15,16
60380,17986,00334,25,11,2014,15,16,25,11,2014,15,16
60381,17986,11660,25,11,2014,15,16,25,11,2014,15,16
60382,22508,00002,12,9,2014,10,11,12,9,2014,10,11
60383,22508,00002,12,9,2014,10,11,12,9,2014,10,11
60384,22508,00007,12,9,2014,10,11,12,9,2014,10,11
60385,22508,18028,12,9,2014,10,11,12,9,2014,10,11
60386,17087,00003,22,11,2014,11,27,22,11,2014,11,27
60387,17087,00012,22,11,2014,11,27,22,11,2014,11,27
60388,17087,00131,22,11,2014,11,27,22,11,2014,11,27
60389,17087,09453,22,11,2014,11,27,22,11,2014,11,27
60390,17087,00073,22,11,2014,11,27,22,11,2014,11,27
60391,17087,09454,22,11,2014,11,27,22,11,2014,11,27
60392,23137,00002,19,12,2014,3,11,19,12,2014,3,19
60393,23137,00001,19,12,2014,3,11,19,12,2014,3,19
60394,23137,00010,19,12,2014,3,11,19,12,2014,3,19
60395,23137,02309,19,12,2014,3,11,19,12,2014,3,19
60396,23137,00002,19,12,2014,3,11,19,12,2014,3,19
60397,23137,00002,19,12,2014,3,11,19,12,2014,3,19
60398,23137,32450,19,12,2014,3,11,19,12,2014,3,19
60399,23137,00059,19,12,2014,3,11,19,12,2014,3,19
60400,23137,21254,19,12,2014,3,11,19,12,2014,3,19
60401,23137,00003,19,12,2014,3,11,19,12,2014,3,19
60402,23137,00004,19,12,2014,3,11,19,12,2014,3,19
60403,23137,00089,19,12,2014,3,11,19,12,2014,3,19
60404,23137,18619,19,12,2014,3,11,19,12,2014,3,19

In [5]:
y = train_data['gender'].map({'female':1, 'male':0})
y = pd.DataFrame(y, columns=['gender'])
y

       gender
0           1
1           1
2           1
3           1
4           1
5           1
6           1
7           0
8           0
9           0
10          0
11          0
12          0
13          0
14          0
15          0
16          0
17          1
18          1
19          1
20          1
21          1
22          1
23          1
24          1
25          1
26          1
27          0
28          0
29          0
...       ...
60375       1
60376       1
60377       1
60378       1
60379       1
60380       1
60381       1
60382       1
60383       1
60384       1
60385       1
60386       1
60387       1
60388       1
60389       1
60390       1
60391       1
60392       1
60393       1
60394       1
60395       1
60396       1
60397       1
60398       1
60399       1
60400       1
60401       1
60402       1
60403       1
60404       1

[60405 rows x 1 columns]

In [6]:
test_size = 0.3
seed = 3
X_train, X_valid, y_train, y_valid = model_selection.train_test_split(X, y, test_size = test_size, random_state = seed)

In [7]:
rfc = RandomForestClassifier()
rfc.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [8]:
rfc_predict = rfc.predict(X_valid)

In [9]:
rfc_cv_score = cross_val_score(rfc, X, y, cv=10, scoring='accuracy')

In [10]:
print("=== Confusion Matrix ===")
print(confusion_matrix(y_valid, rfc_predict))
print('\n')
print("=== Classification Report ===")
print(classification_report(y_valid, rfc_predict))
print('\n')
print("=== All AUC Scores ===")
print(rfc_cv_score)
print('\n')
print("=== Mean AUC Score ===")
print("Mean AUC Score - Random Forest: ", rfc_cv_score.mean())
print(accuracy_score(y_valid, rfc_predict))

=== Confusion Matrix ===
[[ 3103   800]
 [  224 13995]]


=== Classification Report ===
              precision    recall  f1-score   support

           0       0.93      0.80      0.86      3903
           1       0.95      0.98      0.96     14219

    accuracy                           0.94     18122
   macro avg       0.94      0.89      0.91     18122
weighted avg       0.94      0.94      0.94     18122



=== All AUC Scores ===
[0.8097997  0.81509684 0.82320808 0.79903989 0.80086078 0.80960265
 0.80331126 0.80546358 0.80115894 0.80711921]


=== Mean AUC Score ===
Mean AUC Score - Random Forest:  0.8074660926275309
0.9434940955744399

In [28]:
data_test = pd.read_csv(r"C:\Users\panda4\Documents\Data Science\Online\test_Yix80N0.csv")
data_test

,session_id,startTime,endTime,ProductList
0,u12112,08/12/14 13:36,08/12/14 13:36,A00002/B00003/C00006/D19956/
1,u19725,19/12/14 13:52,19/12/14 13:52,A00002/B00005/C00067/D02026/
2,u11795,01/12/14 10:44,01/12/14 10:44,A00002/B00002/C00004/D12538/
3,u22639,08/12/14 20:19,08/12/14 20:22,A00002/B00003/C00079/D22781/;A00002/B00003/C00...
4,u18034,15/12/14 19:33,15/12/14 19:33,A00002/B00001/C00010/D23419/
5,u11327,27/11/14 8:41,27/11/14 8:47,A00001/B00009/C00028/D13690/;A00001/B00009/C00...
6,u12768,26/11/14 21:23,26/11/14 21:24,A00001/B00031/C00044/D13454/
7,u17011,25/11/14 20:02,25/11/14 20:03,A00001/B00009/C00028/D11956/
8,u13527,20/12/14 16:26,20/12/14 16:26,A00002/B00003/C00005/D26497/
9,u24492,18/12/14 13:15,18/12/14 13:19,A00001/B00001/C00019/D04978/;A00001/B00001/C00...
10,u10027,09/12/14 18:03,09/12/14 18:03,A00002/B00001/C00010/D18416/
11,u15734,02/12/14 10:20,02/12/14 10:20,A00002/B00005/C00013/D02174/
12,u11242,26/11/14 7:41,26/11/14 7:42,A00004/B00049/C00083/D12236/;A00004/B00013/C00...
13,u18013,12/12/14 9:39,12/12/14 9:42,A00002/B00001/C00010/D11146/;A00002/B00001/C00...
14,u15322,27/11/14 14:53,27/11/14 14:53,A00002/B00001/C00019/D03089/;A00002/B00001/C00...
15,u14059,22/12/14 12:18,22/12/14 12:20,A00002/B00007/C00017/D04319/;A00002/B00007/C00...
16,u22231,07/12/14 21:46,07/12/14 21:46,A00002/B00017/C00045/D21567/
17,u20251,12/12/14 11:43,12/12/14 11:43,A00003/B00012/C00051/D08004/
18,u13118,14/11/14 20:54,14/11/14 20:55,A00003/B00012/C00051/D01757/
19,u19704,29/11/14 12:21,29/11/14 12:22,A00002/B00004/C00018/D15509/;A00002/B00004/C00...
20,u16615,16/12/14 14:48,16/12/14 14:48,A00002/B00001/C00010/D01034/
21,u11846,13/12/14 10:54,13/12/14 10:54,A00002/B00002/C00002/D25832/
22,u12002,23/11/14 23:17,23/11/14 23:17,A00002/B00003/C00014/D11012/
23,u19607,12/12/14 12:48,12/12/14 12:48,A00002/B00001/C00010/D24795/
24,u23535,22/12/14 19:41,22/12/14 19:41,A00002/B00003/C00005/D35835/
25,u23301,12/12/14 19:19,12/12/14 19:19,A00002/B00002/C00007/D22304/
26,u23259,16/12/14 21:48,16/12/14 21:48,A00002/B00002/C00007/D29997/
27,u17314,23/11/14 13:35,23/11/14 13:37,A00002/B00002/C00003/D07429/;A00002/B00001/C00...
28,u21292,22/12/14 18:10,22/12/14 18:13,A00002/B00006/C00015/D35648/;A00002/B00006/C00...
29,u16410,17/12/14 21:45,17/12/14 21:57,A00001/B00009/C00031/D31059/;A00001/B00037/C00...
...,...,...,...,...
4470,u10735,12/12/14 11:23,12/12/14 11:23,A00002/B00002/C00002/D16735/
4471,u22204,12/12/14 20:48,12/12/14 20:48,A00002/B00003/C00079/D25343/
4472,u20048,16/12/14 18:02,16/12/14 18:08,A00001/B00015/C00043/D29755/;A00001/B00015/C00...
4473,u16494,19/11/14 20:54,19/11/14 20:58,A00002/B00004/C00178/D08129/;A00002/B00004/C00...
4474,u23342,16/12/14 19:57,16/12/14 19:57,A00002/B00007/C00017/D28866/
4475,u16767,02/12/14 8:32,02/12/14 8:32,A00002/B00016/C00044/D08764/
4476,u15707,29/11/14 15:34,29/11/14 15:34,A00002/B00004/C00066/D07935/
4477,u22477,08/12/14 13:03,13/12/14 6:28,A00002/B00002/C00003/D22256/;A00002/B00002/C00...
4478,u11196,17/11/14 11:29,17/11/14 11:36,A00002/B00002/C00003/D05391/;A00002/B00002/C00...
4479,u18690,26/11/14 13:36,26/11/14 13:36,A00003/B00012/C00028/D12671/
4480,u12307,18/11/14 7:19,18/11/14 7:28,A00003/B00022/C00036/D00952/;A00003/B00022/C00...
4481,u18239,05/12/14 21:20,05/12/14 21:20,A00002/B00007/C00016/D18779/
4482,u24265,18/12/14 9:46,18/12/14 9:46,A00002/B00003/C00046/D31348/;A00002/B00003/C00...
4483,u24536,18/12/14 15:17,18/12/14 15:19,A00002/B00001/C00177/D31847/;A00002/B00003/C00...
4484,u12598,15/11/14 21:04,15/11/14 21:04,A00002/B00001/C00059/D03312/
4485,u20680,09/12/14 12:57,09/12/14 12:57,A00003/B00022/C00048/D10332/
4486,u14461,15/11/14 23:48,15/11/14 23:48,A00002/B00016/C00127/D03540/
4487,u22798,09/12/14 11:46,09/12/14 11:48,A00001/B00015/C00021/D23496/;A00001/B00015/C00...
4488,u19085,19/12/14 13:32,19/12/14 13:32,A00003/B00004/C00093/D32988/
4489,u14517,21/11/14 16:56,21/11/14 16:56,A00003/B00012/C00051/D08770/
4490,u23655,21/12/14 12:53,21/12/14 13:05,A00001/B00001/C00075/D34147/;A00002/B00001/C00...
4491,u19300,27/11/14 16:06,27/11/14 16:18,A00002/B00005/C00056/D14477/;A00002/B00005/C00...
4492,u12687,26/11/14 13:57,26/11/14 13:59,A00002/B00002/C00002/D12711/;A00002/B00002/C00...
4493,u23440,13/12/14 12:37,13/12/14 12:39,A00002/B00005/C00013/D16339/;A00002/B00005/C00...
4494,u13632,18/11/14 10:00,18/11/14 10:00,A00002/B00003/C00005/D06569/
4495,u23966,15/12/14 21:11,15/12/14 21:12,A00001/B00031/C00044/D03435/;A00001/B00031/C00...
4496,u20527,02/12/14 7:53,02/12/14 7:54,A00002/B00002/C00004/D17474/;A00002/B00002/C00...
4497,u13253,15/11/14 21:38,15/11/14 21:46,A00002/B00007/C00098/D03350/;A00002/B00007/C00...
4498,u17094,17/12/14 8:51,17/12/14 8:51,A00001/B00031/C00044/D09604/
4499,u24310,17/12/14 17:25,17/12/14 17:26,A00002/B00002/C00003/D20004/;A00002/B00002/C00...

In [29]:
test_data = \
(data_test.set_index(data_test.columns.drop('ProductList',1).tolist())
   .ProductList.str.split('/', expand=True)
   .stack()
   .reset_index()
   .rename(columns={0:'ProductList'})
   .loc[:, data_test.columns]
)

test_data['ProductList'] = test_data['ProductList'].str.replace(';','')
test_data.drop_duplicates(inplace=True)
test_data['ProductList'].replace('', np.nan, inplace=True)
test_data.dropna(inplace=True)
test_data.reset_index(drop=True)
test_data

      session_id       startTime         endTime ProductList
0         u12112  08/12/14 13:36  08/12/14 13:36      A00002
1         u12112  08/12/14 13:36  08/12/14 13:36      B00003
2         u12112  08/12/14 13:36  08/12/14 13:36      C00006
3         u12112  08/12/14 13:36  08/12/14 13:36      D19956
5         u19725  19/12/14 13:52  19/12/14 13:52      A00002
6         u19725  19/12/14 13:52  19/12/14 13:52      B00005
7         u19725  19/12/14 13:52  19/12/14 13:52      C00067
8         u19725  19/12/14 13:52  19/12/14 13:52      D02026
10        u11795  01/12/14 10:44  01/12/14 10:44      A00002
11        u11795  01/12/14 10:44  01/12/14 10:44      B00002
12        u11795  01/12/14 10:44  01/12/14 10:44      C00004
13        u11795  01/12/14 10:44  01/12/14 10:44      D12538
15        u22639  08/12/14 20:19  08/12/14 20:22      A00002
16        u22639  08/12/14 20:19  08/12/14 20:22      B00003
17        u22639  08/12/14 20:19  08/12/14 20:22      C00079
18        u22639  08/12/14 20:19  08/12/14 20:22      D22781
22        u22639  08/12/14 20:19  08/12/14 20:22      D22782
26        u22639  08/12/14 20:19  08/12/14 20:22      D19325
30        u22639  08/12/14 20:19  08/12/14 20:22      D22786
32        u18034  15/12/14 19:33  15/12/14 19:33      A00002
33        u18034  15/12/14 19:33  15/12/14 19:33      B00001
34        u18034  15/12/14 19:33  15/12/14 19:33      C00010
35        u18034  15/12/14 19:33  15/12/14 19:33      D23419
37        u11327   27/11/14 8:41   27/11/14 8:47      A00001
38        u11327   27/11/14 8:41   27/11/14 8:47      B00009
39        u11327   27/11/14 8:41   27/11/14 8:47      C00028
40        u11327   27/11/14 8:41   27/11/14 8:47      D13690
44        u11327   27/11/14 8:41   27/11/14 8:47      D00696
46        u11327   27/11/14 8:41   27/11/14 8:47      B00031
47        u11327   27/11/14 8:41   27/11/14 8:47      C00044
...          ...             ...             ...         ...
45254     u23966  15/12/14 21:11  15/12/14 21:12      D01690
45256     u20527   02/12/14 7:53   02/12/14 7:54      A00002
45257     u20527   02/12/14 7:53   02/12/14 7:54      B00002
45258     u20527   02/12/14 7:53   02/12/14 7:54      C00004
45259     u20527   02/12/14 7:53   02/12/14 7:54      D17474
45262     u20527   02/12/14 7:53   02/12/14 7:54      C00002
45263     u20527   02/12/14 7:53   02/12/14 7:54      D17477
45265     u13253  15/11/14 21:38  15/11/14 21:46      A00002
45266     u13253  15/11/14 21:38  15/11/14 21:46      B00007
45267     u13253  15/11/14 21:38  15/11/14 21:46      C00098
45268     u13253  15/11/14 21:38  15/11/14 21:46      D03350
45272     u13253  15/11/14 21:38  15/11/14 21:46      D03351
45276     u13253  15/11/14 21:38  15/11/14 21:46      D03352
45279     u13253  15/11/14 21:38  15/11/14 21:46      C00041
45280     u13253  15/11/14 21:38  15/11/14 21:46      D03354
45284     u13253  15/11/14 21:38  15/11/14 21:46      D03356
45288     u13253  15/11/14 21:38  15/11/14 21:46      D03357
45292     u13253  15/11/14 21:38  15/11/14 21:46      D01940
45296     u13253  15/11/14 21:38  15/11/14 21:46      D03362
45300     u13253  15/11/14 21:38  15/11/14 21:46      D03364
45302     u17094   17/12/14 8:51   17/12/14 8:51      A00001
45303     u17094   17/12/14 8:51   17/12/14 8:51      B00031
45304     u17094   17/12/14 8:51   17/12/14 8:51      C00044
45305     u17094   17/12/14 8:51   17/12/14 8:51      D09604
45307     u24310  17/12/14 17:25  17/12/14 17:26      A00002
45308     u24310  17/12/14 17:25  17/12/14 17:26      B00002
45309     u24310  17/12/14 17:25  17/12/14 17:26      C00003
45310     u24310  17/12/14 17:25  17/12/14 17:26      D20004
45313     u24310  17/12/14 17:25  17/12/14 17:26      C00007
45314     u24310  17/12/14 17:25  17/12/14 17:26      D27733

[26275 rows x 4 columns]

In [30]:
test_data['startTime'] = pd.to_datetime(test_data['startTime'])
test_data['endTime'] = pd.to_datetime(test_data['endTime'])
test_data['startTime_day'] = test_data['startTime'].dt.day
test_data['startTime_month'] = test_data['startTime'].dt.month
test_data['startTime_year'] = test_data['startTime'].dt.year
test_data['startTime_hour'] = test_data['startTime'].dt.hour
test_data['startTime_minute'] = test_data['startTime'].dt.minute
test_data['endTime_day'] = test_data['endTime'].dt.day
test_data['endTime_month'] = test_data['endTime'].dt.month
test_data['endTime_year'] = test_data['endTime'].dt.year
test_data['endTime_hour'] = test_data['endTime'].dt.hour
test_data['endTime_minute'] = test_data['endTime'].dt.minute
test_data['session_id'] = test_data['session_id'].str.replace('u','')
test_data['ProductList'] = test_data['ProductList'].str[1:]
test_data.reset_index(drop=True, inplace=True)

In [31]:
X_test = test_data.drop(['startTime', 'endTime'], axis=1)
X_test

,session_id,ProductList,startTime_day,startTime_month,startTime_year,startTime_hour,startTime_minute,endTime_day,endTime_month,endTime_year,endTime_hour,endTime_minute
0,12112,00002,12,8,2014,13,36,12,8,2014,13,36
1,12112,00003,12,8,2014,13,36,12,8,2014,13,36
2,12112,00006,12,8,2014,13,36,12,8,2014,13,36
3,12112,19956,12,8,2014,13,36,12,8,2014,13,36
4,19725,00002,19,12,2014,13,52,19,12,2014,13,52
5,19725,00005,19,12,2014,13,52,19,12,2014,13,52
6,19725,00067,19,12,2014,13,52,19,12,2014,13,52
7,19725,02026,19,12,2014,13,52,19,12,2014,13,52
8,11795,00002,12,1,2014,10,44,12,1,2014,10,44
9,11795,00002,12,1,2014,10,44,12,1,2014,10,44
10,11795,00004,12,1,2014,10,44,12,1,2014,10,44
11,11795,12538,12,1,2014,10,44,12,1,2014,10,44
12,22639,00002,12,8,2014,20,19,12,8,2014,20,22
13,22639,00003,12,8,2014,20,19,12,8,2014,20,22
14,22639,00079,12,8,2014,20,19,12,8,2014,20,22
15,22639,22781,12,8,2014,20,19,12,8,2014,20,22
16,22639,22782,12,8,2014,20,19,12,8,2014,20,22
17,22639,19325,12,8,2014,20,19,12,8,2014,20,22
18,22639,22786,12,8,2014,20,19,12,8,2014,20,22
19,18034,00002,15,12,2014,19,33,15,12,2014,19,33
20,18034,00001,15,12,2014,19,33,15,12,2014,19,33
21,18034,00010,15,12,2014,19,33,15,12,2014,19,33
22,18034,23419,15,12,2014,19,33,15,12,2014,19,33
23,11327,00001,27,11,2014,8,41,27,11,2014,8,47
24,11327,00009,27,11,2014,8,41,27,11,2014,8,47
25,11327,00028,27,11,2014,8,41,27,11,2014,8,47
26,11327,13690,27,11,2014,8,41,27,11,2014,8,47
27,11327,00696,27,11,2014,8,41,27,11,2014,8,47
28,11327,00031,27,11,2014,8,41,27,11,2014,8,47
29,11327,00044,27,11,2014,8,41,27,11,2014,8,47
...,...,...,...,...,...,...,...,...,...,...,...,...
26245,23966,01690,15,12,2014,21,11,15,12,2014,21,12
26246,20527,00002,12,2,2014,7,53,12,2,2014,7,54
26247,20527,00002,12,2,2014,7,53,12,2,2014,7,54
26248,20527,00004,12,2,2014,7,53,12,2,2014,7,54
26249,20527,17474,12,2,2014,7,53,12,2,2014,7,54
26250,20527,00002,12,2,2014,7,53,12,2,2014,7,54
26251,20527,17477,12,2,2014,7,53,12,2,2014,7,54
26252,13253,00002,15,11,2014,21,38,15,11,2014,21,46
26253,13253,00007,15,11,2014,21,38,15,11,2014,21,46
26254,13253,00098,15,11,2014,21,38,15,11,2014,21,46
26255,13253,03350,15,11,2014,21,38,15,11,2014,21,46
26256,13253,03351,15,11,2014,21,38,15,11,2014,21,46
26257,13253,03352,15,11,2014,21,38,15,11,2014,21,46
26258,13253,00041,15,11,2014,21,38,15,11,2014,21,46
26259,13253,03354,15,11,2014,21,38,15,11,2014,21,46
26260,13253,03356,15,11,2014,21,38,15,11,2014,21,46
26261,13253,03357,15,11,2014,21,38,15,11,2014,21,46
26262,13253,01940,15,11,2014,21,38,15,11,2014,21,46
26263,13253,03362,15,11,2014,21,38,15,11,2014,21,46
26264,13253,03364,15,11,2014,21,38,15,11,2014,21,46
26265,17094,00001,17,12,2014,8,51,17,12,2014,8,51
26266,17094,00031,17,12,2014,8,51,17,12,2014,8,51
26267,17094,00044,17,12,2014,8,51,17,12,2014,8,51
26268,17094,09604,17,12,2014,8,51,17,12,2014,8,51
26269,24310,00002,17,12,2014,17,25,17,12,2014,17,26
26270,24310,00002,17,12,2014,17,25,17,12,2014,17,26
26271,24310,00003,17,12,2014,17,25,17,12,2014,17,26
26272,24310,20004,17,12,2014,17,25,17,12,2014,17,26
26273,24310,00007,17,12,2014,17,25,17,12,2014,17,26
26274,24310,27733,17,12,2014,17,25,17,12,2014,17,26

In [33]:
pred = rfc.predict(X_test)
pred


session = data_test['session_id']
subm = pd.DataFrame(pred, columns=['gender'])
subm1 = pd.concat([session, subm], axis=1)
subm1.dropna(inplace=True)
subm1.drop_duplicates(subset = 'session_id', keep="last", inplace=True)
subm1['gender'] = subm1['gender'].map({1:'female', 0:'male'})
subm1.reset_index(drop=True, inplace=True)
subm1.to_csv('submission.csv', index=False)
subm1

     session_id  gender
0        u12112  female
1        u19725  female
2        u11795  female
3        u22639  female
4        u18034  female
5        u11327  female
6        u12768  female
7        u17011  female
8        u13527  female
9        u24492  female
10       u10027  female
11       u15734  female
12       u11242  female
13       u18013  female
14       u15322  female
15       u14059  female
16       u22231  female
17       u20251  female
18       u13118  female
19       u19704  female
20       u16615    male
21       u11846  female
22       u12002  female
23       u19607    male
24       u23535  female
25       u23301  female
26       u23259  female
27       u17314  female
28       u21292  female
29       u16410  female
...         ...     ...
4470     u10735  female
4471     u22204  female
4472     u20048  female
4473     u16494  female
4474     u23342  female
4475     u16767  female
4476     u15707  female
4477     u22477  female
4478     u11196  female
4479     u18690  female
4480     u12307  female
4481     u18239  female
4482     u24265  female
4483     u24536  female
4484     u12598  female
4485     u20680  female
4486     u14461  female
4487     u22798  female
4488     u19085  female
4489     u14517  female
4490     u23655  female
4491     u19300  female
4492     u12687  female
4493     u23440  female
4494     u13632  female
4495     u23966  female
4496     u20527    male
4497     u13253    male
4498     u17094  female
4499     u24310  female

[4500 rows x 2 columns]