In [13]:
import pandas as pd
yeast = pd.read_html("https://datahub.io/machine-learning/yeast#pandas")
yeast[2]

                   Field Name  Order     Type (Format)  Description
0                         mcg      1  number (default)          NaN
1                         gvh      2  number (default)          NaN
2                         alm      3  number (default)          NaN
3                         mit      4  number (default)          NaN
4                         erl      5  number (default)          NaN
5                         pox      6  number (default)          NaN
6                         vac      7  number (default)          NaN
7                         nuc      8  number (default)          NaN
8  class_protein_localization      9  string (default)          NaN

In [9]:
print(np.ones(5))

[1. 1. 1. 1. 1.]

In [15]:
from numpy.random import randint as ri
mat1 = np.array(ri(1,10,9)).reshape(3,3)
mat2 = np.array(ri(1,10,9)).reshape(3,3)
print(mat1)
print(mat2)

[[6 7 7]
 [6 9 8]
 [6 3 7]]
[[5 2 9]
 [4 8 6]
 [8 9 9]]

In [16]:
np.sum(mat1,axis=1)

array([20, 23, 16])

In [20]:
import pandas as pd
ser1 = pd.Series([1,2,3,4],['CA','AO','FH','IJ'])
ser1

CA    1
AO    2
FH    3
IJ    4
dtype: int64